<%- include("../partial/header") %>
<div class="container">
	<header class="jumbotron" style="background-image: url('https://wonderlust0.s3-us-west-1.amazonaws.com/photo-1501419737817-eadda6b445e3.jpeg');">
		<div id="bannerBg" class="container" style="text-align:center;">
			<h1>WONDERLUST</h1>
			<h3>
				 -- The Great Outdoors --
			</h3>
			<p>View our hand-picked places in nature from all over the world</p>
			<p>
				<a class="btn btn-primary btn-sm" href="/locations/add">Add a new Wonder</a>
			</p>
	    </div>
	</header>
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<% locations.forEach((location)=>{ %>
			<div class="col-md-3 col-sm-4">
				<div class="thumbnail">
					<img src="<%= location.image%>" style="width:400px;">	
					<div class="caption">
						<h4><%= location.name%></h4>
					</div>
					<p>
						<a href="/locations/<%= location._id%>" class="btn btn-primary">More Info</a>
					</p>
				</div> 
			</div>
		<% }) %>
		
	</div>

</div>

<%- include("../partial/footer") %>