<%- include("partial/header")%>

<div class="container">
	<h1><%=location.name%></h1>
	<img src="<%=location.image%>" style="width:500px;">
	<p><%=location.description%></p>
</div>

<%- include("partial/footer")%>